.ve-editor {
    overflow: hidden;
    &__menu {
        background: #fff;
        height: 70px;
        width: 100%;
        top: 0px;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #efefef;
        position: fixed;
        z-index: 1000;
        >* {
            padding: 1.5rem;
            flex-basis: 0;
            font-size: 1em;
        }
        &__title {
            flex: auto;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                line-height: 1.4em;
                margin: 0px;
            }
        }
        &__action {}
        &__control {
            flex: 0;
        }
    }
    &__setting {
        background: #fff;
        width: 300px;
        border-right: 1px solid #efefef;
        position: fixed;
        height: 100%;
        top: 0px;
        display: flex;
        flex-direction: column;
        &__header {
            flex: 0;
            background: #fff;
            padding: 1rem;
            border-bottom: 1px solid #efefef;
            font-size: 1.2em;
            line-height: 2em;
            &__action {
                padding: 1rem 1.3rem;
                cursor: pointer;
                color: $text-color;
            }
            &__title {
                padding: 1rem 1.3rem;
                cursor: pointer;
                color: $text-color;
            }
        }
        &__content {
            flex: auto;
            background: #f6f9fc;
            overflow: scroll;
            margin-bottom: 63px;
            &__section {
                padding: 1.5rem;
            }
        }
        &__footer {
            flex: 0;
            background: #fff;
            padding: 1.5rem;
            border-top: 1px solid #efefef;
            position: absolute;
            bottom: 0px;
            width: 100%;
        }
        .ve-tab {
            background: #fff;
            &__item {
                >a {
                    line-height: 4.8rem;
                }
            }
        }
    }
    &__content {
        overflow: scroll;
        position: relative;
        height: 100%;
    }
    &__setting+&__content {
        margin-left: 300px;
    }
    &__menu+&__content,
    &__menu+&__setting+&__content {
        top: 70px;
        height: calc(100% - 70px);
    }
    &__menu+&__setting {
        top: 70px;
        height: calc(100% - 70px);
    }
}