#{$pfx}btn,
a#{$pfx}btn,
a:not([href]):not([tabindex])#{$pfx}btn {
    $ve: &;
    appearance: none;
    outline: none;
    border-style: none;
    color: $gray-base;
    display: inline-block;
    padding: 0 12px;
    letter-spacing: .025em;
    font-size: 15px;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    transition: all .15s ease;
    background: #fff;
    color: findColorInvert(#fff);
    flex: auto;
    text-align: center;
    cursor: pointer;
    @include make-button-pressable;
    &:active,
    &.active,
    &:focus {
        outline: none;
    }
    /*size*/
    &--sm {
        line-height: 24px;
        height: 24px;
        font-size: 13px;
        padding: 0 8px;
    }
    &--md {
        line-height: 32px;
        height: 32px;
        font-size: 15px;
    }
    &--lg {
        line-height: 40px;
        height: 40px;
        font-size: 17px;
        padding: 0 18px;
    }
    &--hg {
        line-height: 48px;
        height: 48px;
        font-size: 19px;
        padding: 0 20px;
    }
    /*state*/
    &--primary {
        background: $color-primary;
        color: findColorInvert($color-primary);
        &:hover {
            background: lighten($color-primary, 2%);
        }
        &:active,
        &.active {
            background: darken($color-primary, 15%);
        }
    }
    &--danger {
        background: $color-danger;
        color: findColorInvert($color-danger);
        &:hover {
            background: lighten($color-danger, 2%);
        }
        &:active,
        &.active {
            background: darken($color-danger, 15%);
        }
    }
    &--warning {
        background: $color-warning;
        color: findColorInvert($color-warning);
        &:hover {
            background: lighten($color-warning, 2%);
        }
        &:active,
        &.active {
            background: darken($color-warning, 15%);
        }
    }
    &--success {
        background: $color-success;
        color: findColorInvert($color-success);
        &:hover {
            background: lighten($color-success, 2%);
        }
        &:active,
        &.active {
            background: darken($color-success, 15%);
        }
    }
    &--info {
        background: $color-info;
        color: findColorInvert($color-info);
        &:hover {
            background: lighten($color-info, 2%);
        }
        &:active,
        &.active {
            background: darken($color-info, 15%);
        }
    }
    &--default {
        background: #fff;
        color: findColorInvert(#fff);
        &:active,
        &.active {
            background: darken(#efefef, 15%);
        }
    }
    &--outline {}
    &--block {
        width: 100%;
    }
}