.ve-btn-group {
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    display: inline-block;
    transition: all .15s ease;
    border-radius: .3rem;
    overflow: hidden;
    background: none;
    margin-bottom: 1rem;
    .ve-btn,
    a.ve-btn,
    a:not([href]):not([tabindex]).ve-btn {
        float: left;
        border-right-width: 0;
        border-radius: 0;
        box-shadow: none;
        border-right: $border;
        margin-bottom: 0;
        @include remove-button-pressable;
        &:active {
            padding-bottom: 0px;
            padding-top: 1px;
        }
        &:first-child {}
        &:last-child {
            border: none;
        }
    }
    &--sm {
        .ve-btn,
        a.ve-btn,
        a:not([href]):not([tabindex]).ve-btn {
            line-height: 24px;
            height: 24px;
            font-size: 13px;
            padding: 0 8px;
        }
    }
    &--md {
        .ve-btn,
        a.ve-btn,
        a:not([href]):not([tabindex]).ve-btn {
            line-height: 32px;
            height: 32px;
            font-size: 15px;
        }
    }
    &--lg {
        .ve-btn,
        a.ve-btn,
        a:not([href]):not([tabindex]).ve-btn {
            line-height: 40px;
            height: 40px;
            font-size: 17px;
            padding: 0 18px;
        }
    }
    &--hg {
        .ve-btn,
        a.ve-btn,
        a:not([href]):not([tabindex]).ve-btn {
            line-height: 48px;
            height: 48px;
            font-size: 19px;
            padding: 0 20px;
        }
    }
    &--block {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    &--vertical {
        display: inline-flex;
        flex-direction: column;
        .ve-btn,
        a.ve-btn,
        a:not([href]):not([tabindex]).ve-btn {
            border-right: none;
            border-bottom: $border;
            &:last-child {
                border: none;
            }
        }
    }
}