#{$pfx}form {
    &__row {
        margin-bottom: 10px;
        padding: 10px 0;
        display: flex;
        >* {
            @include clearfix();
        }
        #{$pfx}label {
            text-align: right
        }
    }
}