#{$pfx}input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &__addon,
    #{$pfx}label {
        background: #fff;
        border-radius: $border-radius;
        height: 32px;
        line-height: 32px;
        padding: 0 14px;
        border: $border;
        margin-bottom: 0px;
        font-weight: 400;
    }
    #{$pfx}btn,
    a#{$pfx}btn,
    a:not([href]):not([tabindex])#{$pfx}btn {
        @include remove-button-pressable;
    }
    &__addon,
    #{$pfx}input,
    #{$pfx}btn,
    a#{$pfx}btn,
    a:not([href]):not([tabindex])#{$pfx}btn {
        margin-left: -1px;
        &:first-child {
            border-left-width: 1px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
    }
    &--sm {
        #{$pfx}btn,
        a#{$pfx}btn,
        a:not([href]):not([tabindex])#{$pfx}btn {
            line-height: 24px;
        }
        #{$pfx}input,
        {
            padding: 1px 6px;
            font-size: 13px;
        }
        #{$pfx}input-group__addon,
        #{$pfx}label {
            line-height: 24px;
            height: 24px;
            padding: 0 10px;
            font-size: 13px;
        }
    }
    &--md {}
    &--lg {
        #{$pfx}btn,
        a#{$pfx}btn,
        a:not([href]):not([tabindex])#{$pfx}btn {
            line-height: 40px;
        }
        #{$pfx}input {
            padding: 9px 13px;
            font-size: 18px;
        }
        #{$pfx}input-group__addon,
        #{$pfx}label {
            line-height: 40px;
            height: 40px;
            padding: 0 13px;
            font-size: 18px;
        }
    }
    &--hg {
        #{$pfx}btn,
        a#{$pfx}btn,
        a:not([href]):not([tabindex])#{$pfx}btn {
            line-height: 48px;
        }
        #{$pfx}input {
            padding: 13px 13px;
            font-size: 19px;
        }
        #{$pfx}input-group__addon,
        #{$pfx}label {
            line-height: 48px;
            height: 48px;
            padding: 0 16px;
            font-size: 19px;
        }
    }
}