//
// Scaffolding
// --------------------------------------------------
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 62.5%;
    text-size-adjust: 100%;
}

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: $font-weight-base;
    color: $text-color;
    background-color: $body-bg;
}

.ve-header {
    h1 {
        font-size: 56px;
    }
}

xmp {
    margin: 0px;
    font-size: 1.5rem;
}