.ve-h1,
.ve-h2,
.ve-h3,
.ve-h4,
.ve-h5,
.ve-h6 {
    margin-bottom: $headings-margin-bottom;
    margin-top: 0px;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
}

.ve-h1 {
    font-size: $h1-font-size;
}

.ve-h2 {
    font-size: $h2-font-size;
}

.ve-h3 {
    font-size: $h3-font-size;
}

.ve-h4 {
    font-size: $h4-font-size;
}

.ve-h5 {
    font-size: $h5-font-size;
}

.ve-h6 {
    font-size: $h6-font-size;
}

pre {
    background: none;
    border: none;
    line-height: 1.3em;
    font-size: 1em;
}

hr {
    border: none;
    border-bottom: $border;
    margin: 1rem;
}

a {
    text-decoration: none;
    color: $link-color;
    &:hover,
    &:active {
        text-decoration: none;
    }
}